{{define "title"}}Home{{end}}
{{define "main"}}
    <div class="text-italic pt-4 text-[{{ .NavigationColor }}]">
        <p>Displaying a total of <span class="text-[{{ .FilepathColor }}]">{{ .NumFiles }}</span> files.</p>
    </div>
    <div class="divide-y-2 divide-[{{$.FilepathColor}}]/[.05]">
        {{range $fPath,$elements := .Results -}}
        <div class="container py-12 overflow-x-auto">
            <p class="text-[{{ $.FilepathColor }}] pb-8 text-xl">{{ $fPath }}</p>
            {{range $elements -}}
            <div class="container">
                {{ . }}
            </div>
            {{end}}
        </div>
        {{end}}
    </div>
{{end}}
