name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
      - name: Release
        env:
          GITHUB_TOKEN: ${{secrets.GH_PAT}}
        run: |
          make release
